/* ==========================
      my variables   
========================= */
:root {
   --ms_primary-color: #b91450;
   --ms_seconday-color: #cecece;
}

/* ==========================
      my reset   
========================= */
button {
   color: inherit;
}

/* ==========================
      commons   
========================= */

body {
   background-color: var(--ms_primary-color);
}

/* ==========================
      typography   
========================= */

h2 {
   color: white;
}

/* ==========================
      components   
========================= */

.ms_card {
   background-color: white;
}

.ms_card .ms_input-title {
   font-size: 1.5rem;
   margin-bottom: 1.25rem;
}

.ms_card input,
.ms_card select {
   border-radius: 0.5rem;
   padding: 0.5rem 0;
   text-align: center;
   font-size: 1.2rem;
   border-color: var(--ms_primary-color);
}

.ms_card button {
   font-size: 1.5rem;
   padding: 0.5rem;
   border-radius: 0.8rem;
   border: 1px solid black;
   background-color: var(--ms_seconday-color);
}

.ms_card :is(input:focus, button:focus, select:focus) {
   border-color: orange;
   outline: none;
}

/* ==========================
      sezione calculator   
========================= */

#calculator .ms_card {
   /* la prima card */
   color: var(--ms_primary-color);
   border-radius: 1rem;
   box-shadow: 0.0625rem 0.125rem 0.3125rem 0.125rem var(--ms_seconday-color);
}

/* ==========================
      sezione ticket   
========================= */
.ms_card__ticket {
   border-top: 1px solid black;
   border-bottom: 1px solid black;
}

.ms_card__ticket .col-4 {
   background-color: var(--ms_seconday-color);
}

.ms_card__ticket .passenger-name {
   background-color: var(--ms_seconday-color);
}

.ms_card__ticket h4 {
   margin-bottom: 5rem;
}

@media screen and (max-width: 991.98px) {
   .ms_card__ticket div:has(h4) {
      border: 1px solid gray;
   }

   .ms_card__ticket {
      border: none;
   }
}
